.footer {
    font-weight: bold;
    color: rgb(255, 255, 255);
    width: 100%;
    background-color: #044612;
    align-self: flex-end;
    height: 30%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}


.foorter_container1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.footer_firts_line{
    display: flex;
    flex-direction: row;
}


.footer_second_line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


.urlLink{
    color: aliceblue;
}